.title {
    text-align: center;
    color: white;
}

.container {
    position: relative;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(84, 105, 212);
    margin-bottom: 20px;
    height: 70px;
}

@media (min-width: 769px) {
    .container {
        margin: 0 2.5rem;
    }
}

.alert-confirmation {
    border-style: solid;
    padding: 30px;
}