.saf {
    width: 300px;
    height: 20%;
    width: 50%;
}

.saf-item {
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}

.active {
    border-style: double;
}

.business {
    background-color: rgb(193, 189, 255, 0.2);
    color: rgb(10, 37, 64, 0.2);
}

.business.active {
    background-color: rgb(193, 189, 255);
    color: rgb(10, 37, 64);
}

.people {
    background-color: rgb(161, 157, 255, 0.2);
    color: rgb(10, 37, 64, 0.2);
}

.people.active {
    background-color: rgb(161, 157, 255);
    color: rgb(10, 37, 64);
}

.tech {
    background-color: rgb(130, 124, 255, 0.2);
    color: rgb(255, 255, 255, 0.2)
}

.tech.active {
    background-color: rgb(130, 124, 255);
    color: rgb(255, 255, 255)
}

.risk {
    background-color: rgb(99, 91, 255, 0.2);
    color: rgb(255, 255, 255, 0.2)
}

.risk.active {
    background-color: rgb(99, 91, 255);
    color: rgb(255, 255, 255)
}

.operation {
    background-color: rgb(0, 0, 255, 0.3);
    color: rgb(255, 255, 255, 0.4)
}

.operation.active {
    background-color: blue;
    color: rgb(255, 255, 255)
}