.inner-item {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.inner-item-header {
    font-weight: 900;
    width: 12vw;
    text-align: left;
}

.inner-item-content {
    width: 87vw;
    font-size: min(0.8vw, 15px);
}

.inner-capacity-name {
    margin-right: 20px;
    padding-right: 20px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: white;
    border-right-style: solid;
    height: 100%;
    display: flex;
    align-items: center;
}

.inner-capacity-name:last-child {
    border-right-style: none;
}

.inner-capacity-name.amber {
    color: var(--color-amber);
}

.inner-capacity-name.green {
    color: var(--color-green);
}

.inner-capacity-name.red {
    color: var(--color-red);
}

