.inner-item {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.inner-item-content {
    height: 60px;
    width: 87vw;
    font-size: min(0.8vw, 15px);
}

.inner-capacity-name {
    height: 30px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    background: #f5f5f59c;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
}

.inner-capacity-name.amber {
    color: rgb(194, 126, 0);
    border-color:  var(--color-amber);
}

.inner-capacity-name.green {
    color: rgb(0, 150, 0);
    border-color: green;
}

.inner-capacity-name.red {
    color: rgb(200, 0, 0);
    border-color: red;
}

.inner-capacity-name.gray {
    color: rgb(129, 127, 127);
    text-decoration:line-through;
    border-color: gray;
}

