* {
  box-sizing: border-box;
  white-space: pre-line;
  color: rgb(84, 105, 212)
  /* vertical-align: bottom; */
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: sans-serif;
}
.title {
  text-align: center;
}

.container {
  position: relative;
  /* max-width: 800px; */
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem 2.5rem;
  }
}



.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

.question-card {
  border: rgb(84, 105, 212);
  border-style: solid;
}

.question-text {
  margin: 20px;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption.Red:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.answerOption.Amber:hover {
  background-color: rgba(255, 191, 0, 0.4);
}

.answerOption.Green:hover {
  background-color: rgba(60, 255, 0, 0.4);
}


.answerOption {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

button {
  background-color: rgb(84, 105, 212);
  color: white;
  /* Green */
  border: none;
  margin: 40px;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 24px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}
